@{
    ViewData["Title2"] = "O mě";
}
<section>
    <p class="avatar">
        <img src="obrazky/jitka2.jpg" alt="osoba já" />
  <div style="text-align: justify; text-indent: 2em;">
Vítejte v mém malém nočním e-shopu.
Fotografie jsou pro mě způsobem, jak zachytit to, co slovy často nejde – náladu, ticho, detail. Nabízím vám kousek svého pohledu na svět. Každý snímek, který tu najdete, vznikl s citem, intuicí a hlubokou vazbou k místu, odkud pocházím.

<br><br>

Jsem noční tvor. Vždy mě fascinovalo, jak tma dokáže proměnit i ta nejznámější místa v něco jiného. Když se procházím známými částmi svého města pod rouškou noci, cítím hlubokou svobodu a zvláštní klid. Zároveň je tu ale i potřeba být ostražitější – vnímat každý nenápadný zvuk, spoléhat se na intuici a pozorně sledovat detaily, které by ve dne snadno unikly.

<br><br>

Jaké je mé město? Je malé – alespoň co do rozlohy. Přesto patří s populací okolo 14 000 obyvatel mezi větší města Karlovarského kraje. A právě tento kraj je v rámci České republiky tím nejmenším, nejchladnějším a ekonomicky nejslabším. Ale i tady najdete život, který má svou hloubku, charakter a sílu.

<br><br>

Mé město leží na úpatí Krušných hor, sevřené těžbou uhlí a kaolínu. Možná to není turistický ráj a na pohled působí drsně – ale právě tohle prostředí formovalo lidi, kteří tu žijí. Tvrdí, odolní, ale i nečekaně citliví.

<br><br>

📸 Pokud vás zaujmou moje fotografie, budu moc ráda, když si některou z nich odnesete domů – jako obraz, pohlednici nebo jen tichého společníka na stěnu. Děkuji, že jste tady.
</div>
</section>