@{
    ViewData["Title2"] = "O mě";
}
<section>
    <p class="avatar">
        <img src="obrazky/jitka2.jpg" alt="osoba já" />
    </p>
       "I am a night animal. I have always found it fascinating how the darkness can transform even the most familiar things into something different. Walking through familiar parts of the town brings intense feelings of freedom and peace and at the same time, the need to focus harder on every small detail, hardly audible sound, intuition talking to me.
    What is my town like? It is small, nevertheless, its population of around 14,000 inhabitants rates it among ‘larger’ towns of the Karlovy Vary Region, that is the smallest, coldest and poorest of all regions of the Czech Republic.
    <p>   My town is situated on the foothills of the Ore Mountains and is surrounded by coal and clay mines. </p>
    <p>   Indeed, it is not a fancy tourist destination by any means.."</p>
</section>