@model JitkaApp.Models.Product

@{
    ViewData["Title2"] = "Kontakt";
}

<p><strong>Jméno a příjmení:  </strong>Jitka Ertelová</p>
<p><strong>Adresa:  </strong>Karlovy Vary</p>
<p><strong>Telefon:  </strong>*********</p>
<p><strong>Email:  </strong>benveronika@seznam.cz</p>

