@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<form method="post">
    <div asp-validation-summary="All" class="text-danger">Nelze se registrovat</div>
    <!-- Zbytek formuláře -->
</form>


