html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;

}

body {
    padding-bottom: 80px; /* vıška footeru */
}

    header h1 {
        background: url('/obrazky/nahled.jpg') no-repeat center center;
        background-size: cover;
        padding: 2rem;
        text-align: center;
        color: #f0f0f0;
    }
}

.container {
   max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    border: 5px solid red;
    
} /*obaluje body*/



header {
    font-style: italic;
    color: #f0f0f0; /*#ccc*/

}

h2{

    text-align:center;
    font-size: 25px;
    margin: 10px;
}

h1 > p {
    margin: 10px; /*temná krása mìst a prázdnoty*/
    font-size: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    width: auto;

    margin: 0;
    padding: 0;
    gap: 1rem;
    
    justify-content: center;
    
    
}
section {
    
    padding: 20px 60px 10px 60px;
}

nav a {
    color: #f0f0f0;
    margin: 0 1rem;
    text-decoration: none;
    
}


    nav a:hover {
        
        color: #ef6c05;
    }


.avatar {
    float: right; /* z obrázku udìláme plovoucí obsah tj. lze ho obtékat*/
    margin: 0px auto auto 20px;
    filter: grayscale(1);
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden; 
    border: 3px solid white; 
}

    .avatar img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        display: block; 
        border: 3px solid green; 
        border-radius: 50%;
    }

main {
    padding: 2rem;
    
}

h2 {
    border-bottom: 2px solid #444;
    padding-bottom: 0.5rem;
}

.alert-custom {
    max-width: 300px; 
    margin: 1rem 0; 
    
}



form {
    margin-top: 1rem;
}





footer {
    background-color: #111;
    text-align: center;
    padding: 1rem;
    margin-top: 400px;
    font-size: 0.9rem;
    color: white;
    
}

#reference a {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Zajišuje zaoblení rohù obrázkù */
    text-decoration: none;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Pøidání stínu pro lepší vzhled */
    transition: transform 0.3s ease; /* Plynulı efekt pøi zvìtšení */
}

.lightbox .lb-nav {
    z-index: 9999 !important;
}


.box {
    box-sizing: border-box;
    display: flex;
    margin: 30px 30px;
    flex-wrap: wrap;
    text-align: center;
}

    #reference a:hover {
        transform: scale(1.05); /* Mírné zvìtšení pøi najetí na obrázek */
    }




/* Kontejner pro všechny poloky */
.gallery-kontejner {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    justify-content: space-around; 
}

/* Kadı jednotlivı produkt */
.gallery-item {
    text-align: center; 
    width: calc(33.33% - 10px); 
    
}

    .gallery-item img {
        width: 100%;
        height: auto;
        border: 2px solid #ccc;
        border-radius: 10px;
        height: 200px; /* pevná vıška pro všechny náhledy */
        object-fit: cover; /* oøízne obrázek, aby zaplnil box -elı danı prostor (width: 100%, height: 200px) */
    }

    .gallery-item strong {
        display: block; 
        margin-top: 10px; 
    }

    .gallery-item a {
        display: block; 
        margin-top: 5px; 
        text-decoration: none;
        color: #007bff; 
    }

        .gallery-item a:hover {
            color: #0056b3; 
            text-decoration: underline; 
        }


/* Styl tabulky košíku */
.kosik-table {
    width: 80%;
    margin: 2rem auto;
    border-collapse: collapse;
    background-color: #2c2c2c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .kosik-table th, .kosik-table td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #444;
    }

    .kosik-table th {
        background-color: #111;
        color: #f0f0f0;
    }

    .kosik-table tr:nth-child(even) {
        background-color: #333;
    }

    .kosik-table tr:hover {
        background-color: #444;
    }



.celkem-row {
    border-top: 2px solid #333; /* Oddìlení linkou */
    font-weight: bold;
}


.objednavka-form { /*celı formuláø */
    margin-top: 2rem;
}

    .objednavka-form p {
        margin-bottom: 1rem;
    }

.objednavka-input { /* pro vstupní pole */
    padding: 0.5rem;
    border: 1px solid #444;
    background-color: #333;
    color: #f0f0f0;
    border-radius: 4px;
    box-sizing: border-box;
}
    .objednavka-input[name="poznamky"] {
        width: 50%;
        height: 100px; /* Nastavujeme vıšku pole poznámky */
        
    }
 

.objednavka-button {
    background-color: #007bff;
    color: #f0f0f0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

    .objednavka-button:hover {
        background-color: #0056b3;
    }
